body{
    background: rgb(195,194,18);
background: linear-gradient(43deg, rgba(195,194,18,1) 0%, rgba(2,0,36,1) 0%, rgba(255,149,0,1) 100%, rgba(255,149,0,1) 100%);
}
#main{
    height: 800px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub{
    width: 1300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer{
    font-weight: bolder;
    font-family: Verdana;
    font-size: 70px;
    display: flex;
    color: lightgrey;
}